<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
s
    <form method="post">
        {% csrf_token %}
        {{ profile_form.as_p }}
        <button type="submit">Gönder</button>
      </form>

</body>
</html>